<div class="movie">
    <h3><p><%= @movie['title'] %></p></h3>
    <p><%= @movie['release_date'] %></p>
    <% movie_id = @movie['id'] %>
    <p><%= @movie['overview'] %></p>
    <h2><%= link_to "投稿ページへ", new_post_path(movie_id: @movie['id']) %></h2>
    <p><%#= @movie['id'] %></p>
    <p><%#= image_tag 'https://image.tmdb.org/t/p/w200' + @movie['poster_path'],class: "card-img" %></p>
</div>
<%= link_to "映画検索", movies_search_path %>
<%= link_to "タグ検索", posts_path %>