<div class="tomocchi">
<br>
    <div class="btn3">
        <%= link_to "映画検索", movies_search_path ,class:'okawa' %>
        <%= link_to "投稿一覧へ", posts_path , class:'okawa' %>
    </div>
    <%= form_for @post do |f| %>
        <div class="movie">
                <p> <%= f.hidden_field :title, :size => 140, value: @movie['title']%> </p>
                <p> <%= f.hidden_field :year, :size => 140, value: @movie['release_date']%> </p>
                <p> <%= f.hidden_field :description, :size => 140, value: @movie['overview'] %></p>
                <p> <%= f.hidden_field :image, value: 'https://image.tmdb.org/t/p/w200' + @movie['poster_path'] %></p>
                <h4>サブタイトルを付けるなら？(最大12字)</h4>
                <p> <%= f.text_field :genre, maxlength: "12", :size => 35 %></p>
                <br>
                <h4>感想</h4>
                <p> <%= f.text_area :hoken,:size=>"60x10" %></p>
                <br>
                <br>
                <div class="check_box">
                    <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                            <div class='form-check'>
                                <%= tag.label do %>
                                    <%= tag.check_box %>
                                    <%= tag.text %>
                                <% end %>
                            </div>
                    <% end %>
                </div>
                <br>
                <%= f.submit "投稿する" , class: "btn"%>
        </div>
    <% end %>
</div>

