<div class="ishimon">
    <br>
    <div class="btn3">
      <%= link_to "映画検索", movies_search_path ,class:'okawa' %>
      <%= link_to "戻る", posts_path ,class:'okawa' %>
    </div>
  <div class="detail1">
    <h1><%= @post.title %></h1>
    <p><%= @post.year %></p>
    <% if @post.image %>
      <%= image_tag @post.image %>
    <% end %>
    <div class="yokohaba">
      <p><%= @post.description %></p>
    </div>  
    <p><%#= @post.created_at %></p>
    <br>
    <p class="review"><%= @post.genre %></p>
    <br>
    <div class="kansou2">
      <%if @post.hoken.nil? %>  
          <%=@post.hoken%>
      <% else %>
        <%=safe_join(@post.hoken.split("\n"),tag(:br))%>    
      <%end %>
    </div>
    <p>================================</p>

    <% @post.tags.each do |tag| %>
        <%= tag.name %>
    <% end %>
    <p>================================</p>
  </div>
  <%#= link_to "編集する", edit_post_path(@post.id) %>
</div>
